@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import "tailwindcss";
@config "../tailwind.config.ts";

@theme {
  --font-display: "Inter", "sans-serif"; 
  --color-primary: #00DBD5;
  --color-header: #1F1F1F;
  --color-background: #121212;
}

body {
  margin: 0;
  font-family: Inter, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--color-background);
  color: white;
}

#root {
  min-height: 100vh;
  background-color: var(--color-background);
}
